#gallery-container {
    width: 60vw;
    margin: auto;
    padding: 20px;
    background-color: rgb(153, 0, 0);
    display: flex;
    flex-wrap: wrap;
}

.gallery-photos {
    width: 33.33%;
}

.gallery-photos>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}